In [12]:
a = 250

In [5]:
print(100)

100

In [17]:
a

300

In [16]:
print(a)

300

In [15]:
a = 300

In [14]:
print(a)

250

In [1]:
# 주석은 샵을 쓴다
# 숫자, 문자열, bool, 리스트, 튜플

In [2]:
print(type('hello!'))

<class 'str'>

In [3]:
print('hello')

hello

In [5]:
print(type(10))

<class 'int'>

In [2]:
result1 = '안녕하세요'.find('하세')
print(result1)

2

In [4]:
list_a = [1,2,3]
list_b = [4,5,6]
print(list_a+list_b)

[1, 2, 3, 4, 5, 6]

In [3]:
dic_a = {
    
}

print(type(dic_a), dic_a)

<class 'dict'> {}

In [4]:
dic_b = {
    1,2,3
}

print(type(dic_b), dic_b)

<class 'set'> {1, 2, 3}

In [6]:
dic_c = {
    'no' : 7,
    'name' : '손흥민'
}
print(type(dic_c), dic_c)

<class 'dict'> {'no': 7, 'name': '손흥민'}

In [14]:
key='team'
playerName = dic_c.get('team')

print(playerName)

if playerName == None :
    print('존재하지 않는 key')

if key in dic_c :
    print(dic_c[key])
else : 
    print("존재하지 않는 Key")

None
존재하지 않는 key
존재하지 않는 Key

In [16]:
for key in dic_c :
    print(key, dic_c[key])

no 7
name 손흥민

In [ ]:
# range() : 특정 범위의 숫자를 생성
# range(n) : 0 ~ n-1 범위의 숫자 생성

In [21]:
a = range(1, 10, 3)
print(type(a), a)
list_b = list(a)
print(list_b)

for i in a :
    print('반복')

<class 'range'> range(1, 10, 3)
[1, 4, 7]
반복
반복
반복

In [23]:
list_c = [1,5,9,4,3,15]

cnt = 0;

for item in list_c :
    cnt += 1
    print(item, cnt)

1 1
5 2
9 3
4 4
3 5
15 6

In [24]:
for i in range(len(list_c)) : 
    print(i+1, list_c[i])

1 1
2 5
3 9
4 4
5 3
6 15

In [25]:
for i in range(5,0,-1) :
    print(i)

5
4
3
2
1

In [27]:
for i in reversed(range(1, 5+1)) :
    print(i)

5
4
3
2
1

In [29]:
i=0
while i<5 :
    print(i)
    i += 1

0
1
2
3
4

In [33]:
list_d = [1,2,1,2]
print(list_d)
list_d.remove(1)
print(list_d)

###

while 1 in list_d :
    list_d.remove(1)
    
print(list_d)

[1, 2, 1, 2]
[2, 1, 2]
[2, 2]

In [ ]:
# 함수 : input -> 처리 -> return
# 매개변수 처리 -> 가변 매개변수, 매개변수의 기본 값
# def 함수이름() : ...return

In [34]:
def print_3() :
    print('안녕')
    print('안녕')
    print('안녕')

print_3()

안녕
안녕
안녕

In [37]:
def print_times(value, n) :
    for i in range(n) :
        print(value)
        
print_times('hello~', 5)

hello~
hello~
hello~
hello~
hello~

In [43]:
def print_n_times(n, *values) :
    for i in range(n) : 
        for value in values :
            print(value)
        print('------')
            
print_n_times(3, 'a', 'b')

a
b
------
a
b
------
a
b
------

In [49]:
def test(a, b=10, c=10) :
    print(a+b+c)
    
test(10, 20, 30)
test(10)

60
30

In [46]:
def print_n_times(*values, n=2) :
    for i in range(n) : 
        for value in values :
            print(value)
        print('------')
            
print_n_times('a', 'b', n=3)

a
b
------
a
b
------
a
b
------

In [53]:
def sum_all(start=0, end=100, step=1) :
    output = 0
    for i in range(start, end+1, step) :
        output += i
    return output

print(sum_all())
print(sum_all(end=10))
print(sum_all(end=10, step=2))

5050
55
30